{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li class="list-group-item list-group-item-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block color_widget %}
	{% spaceless %}
	    {% set type = 'color' %}
	    {{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock %}

{% block radio_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock radio_widget %}
{% block checkbox_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock checkbox_widget %}
{% block form_row %}
    <div class="form-group">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-horizontal '}}) }}
    </div>
{% endblock form_row %}
