<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="robots" content="index, follow">
        <meta name="description" content="">

        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block bodyclass %}{% endblock %}>
    <div id="header" class="site-header">
        {% block header %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    <footer class="site-footer">
        {% block footer %}{% endblock %}
    </footer>
    {% block javascripts %}{% endblock %}
    </body>
</html>
