	
{% macro blockInput(form, champ, obligatoire, class, style, isrequired, afterInput, colLabel, colInput, icon, comment) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" >
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(3)~' control-label text-right'}}) }}
        <div class="col-{{ colInput|default(8) }}">
            <div class="input-group">
                {% if icon %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ icon|raw }}</span>
                    </div>
                {% endif %}
                {{ form_widget(form[champ], {'required': isrequired|default(form[champ].vars.required), 'attr': {'class': 'form-control '~class, 'style': style|default('')}}) }} {{afterInput|default('')|raw}}
                <div class="erreur">{{ form_errors(form[champ]) }}</div>   
            </div>
            {% if comment %}
                <small class="form-text text-muted">{{ comment }}</small>
            {% endif %}

        </div>
    </div>
{% endmacro %}


{% macro blockInputLabelTop(form, champ, obligatoire, class, style, isrequired, afterInput, colLabel, colInput, icon, comment) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" >
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(12)~' control-label label-align-left '}}) }}
        <div class="col-{{ colInput|default(12) }}">
            <div class="input-group">
                {% if icon %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ icon|raw }}</span>
                    </div>
                {% endif %}
                {{ form_widget(form[champ], {'required': isrequired|default(form[champ].vars.required), 'attr': {'class': 'form-control '~class, 'style': style|default('')}}) }} {{afterInput|default('')|raw}}
                <div class="erreur">{{ form_errors(form[champ]) }}</div>
            </div>
            {% if comment %}
                <small class="form-text text-muted">{{ comment }}</small>
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% macro blockInputSummernote(form, champ, class, style, isrequired, colLabel, colInput, comment) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" >
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(12)~' control-label label-align-left'}}) }}
        <div class="col-{{ colInput|default(12) }}">
            <div class="">
                {{ form_widget(form[champ], {'required': isrequired|default(form[champ].vars.required), 'attr': {'class': 'form-control summernote '~class, 'style': style|default('')}}) }} {{afterInput|default('')|raw}}
                <div class="erreur">{{ form_errors(form[champ]) }}</div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro formSwitch(form, champ, class, colLabel, colInput) %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" >
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(3)~' control-label text-right'}}) }}
        <div class="col-{{ colInput|default(8) }}">
            <div class="">
                {{ form_widget(form[champ], {'required': isrequired|default(form[champ].vars.required), 'attr': {'class': 'form-horizontal switch '~class, 'style': style|default('')}}) }} {{afterInput|default('')|raw}}
                <div class="erreur">{{ form_errors(form[champ]) }}</div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro blockInputPrototype(form, champ, obligatoire, colLabel, colInput) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" >
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(3)~' control-label text-right'}}) }}
        <div class="col-{{ colInput|default(8) }}">
            
            <div class="">
                <ul class="{{champ}}" data-prototype="{{ form_widget(form[champ].vars.prototype)|e('html_attr') }}">

                </ul>
                <div class="erreur">{{ form_errors(form[champ]) }}</div>   
            </div>  
            {{ form_widget(form[champ]) }}
        </div>
    </div>
{% endmacro %}
{% macro blockInputSubmit(form, label, retour, class) %}
    <div class="card-footer">
        <div class="btn-group float-right" role="group" aria-label="...">
            {% if retour %}	    
                <a href="{{ path(retour) }}" class="btn btn-secondary">Retour</a>
            {% endif %}
            {{ form_widget(form.submit, {'attr': {'class': 'form-horizontal btn btn-primary '~class}, 'label': label}) }}
        </div>
    </div>
{% endmacro %}
{% macro blockInputRepeated(form, champ, obligatoire, class, style, isrequired, colLabel, colInput) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}" style="{{style|default('')}}">
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(3)~' control-label text-right'}}) }}
        <div class="col-{{ colInput|default(8) }}">
            {% if not obligatoire|default(true) %}<i style="display: block;color: black;">Renseignez ces champs si modification du mot de passe</i>{% endif %}
            
                {% for repeatedField in form[champ] %}
                    {{ form_widget(repeatedField, {'required': isrequired|default(repeatedField.vars.required), 'attr': {'class': 'form-horizontal '~class}}) }}	
                {% endfor %}
                <div class="erreur">{{ form_errors(form[champ].first) }}</div>   
                
        </div>
    </div>
{% endmacro %}
{% macro blockInputMask(form, champ, obligatoire, class, style, isrequired, mask, placeholder, colLabel, colInput) %}
    {% form_theme form 'AdminBundle:Form:form_layout.html.twig' %}
    <div class="row form-group {% if form[champ].vars.errors|length %}has-error{%endif%}">
        {{ form_label(form[champ], null, {'label_attr': {'class': 'col-'~colLabel|default(3)~' control-label text-right'}}) }}
        <div class="col-{{ colInput|default(8) }}">
            <div class="">
                {{ form_widget(form[champ], {'required': isrequired|default(form[champ].vars.required), 'attr': {'class': 'form-horizontal '~class, 'style': style|default(''), 'data-mask': mask, 'placeholder': placeholder}}) }}	
                <div class="erreur">{{ form_errors(form[champ]) }}</div>   
            </div>     
        </div>
    </div>
{% endmacro %}
