{% macro menuLien(value, url, active, icone, arbre, role) %}
    {% if is_granted(role|default('ROLE_ADMIN')) %}
    {% if value in active %}{% set actif = "active"%}{% endif %}
    {% import _self as menu %}   
    <li class="nav-item {{actif|default('')}}">
        {{ menu.lien(value, url, icone, arbre, role, actif|default('')) }}
    </li>
{% endif %}
{% endmacro %}

{% macro menuArbre(value, menus, icone, active, role) %}

    {% if is_granted(role|default('ROLE_ADMIN')) %}
    {% if value in active %}{% set actif = "active menu-open"%}{% endif %}
    {% import _self as menu %}
    <li class="nav-item has-treeview {{actif|default('')}}">
        {{ menu.lien(value, null, icone, 1, role, actif|default('')) }}   
        <ul class="nav nav-treeview">
            {% for lienmenu in menus %}
                {% set actif = ""%}
            {% if lienmenu.value in active %}{% set actif = "active"%}{% endif %}
            <li class="nav-item {{actif|default('')}}">{{ menu.lien(lienmenu.value, lienmenu.url, lienmenu.icone|default(null), 0, lienmenu.role|default(null), actif|default(''))  }}</li>     
            {% endfor %}
    </ul>
</li>
{% endif %}
{% endmacro %}

{% macro lien(value, url, icone, arbre, role, actif) %}
    {% if is_granted(role|default('ROLE_ADMIN')) %}
        <a href="{{ url|default('#') }}" class="nav-link {{actif|default('')}}">
            <i class="nav-icon {{icone|default('fa-dashboard')}}" {% if icone == 'far fa-circle' %}style="font-size:10px;"{% endif %}></i> 
            <p>
                {{value}}
                {% if arbre %}<i class="right fa fa-angle-left"></i>{% endif %}
            </p>
        </a>
    {% endif %}      
{% endmacro %}
