{% block definima_media_widget %}

    {% import _self as definima %}

    {% spaceless %}
        {% if display_front %}
            {{ definima.render_media_front(form, false, form.vars.id, conf) }}
        {% else %}
            {{ definima.render_media(form, false, form.vars.id, conf) }}
        {% endif %}
    {% endspaceless %}

{% endblock %}

{% block definima_media_collection_widget %}

    {% import _self as definima %}

    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': definima.render_media(prototype, true, form.vars.id, conf)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-max': data_max ? data_max : 100}) %}
        {% set attr = attr|merge({'data-min': data_min ? data_min : 0}) %}
        {% set attr = attr|merge({'data-init-with-n-elements': data_init_with_n_elements ? data_init_with_n_elements : 1}) %}
        {% set attr = attr|merge({'data-add-at-the-end': data_add_at_the_end ? data_add_at_the_end : false}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {% set attr = attr|merge({'data-minimum-width': minimum_width}) %}
        {% set attr = attr|merge({'data-minimum-height': minimum_height}) %}

        <div id="{{ form.vars.id }}"
             class="media-list definima-media-list definima-media-collection" {% for k, v in attr %} {{ k }}="{{ v|e }}"{% endfor %}>
            {% for media in form %}
                {% if display_front %}
                    {{ definima.render_media_front(media, true, form.vars.id, conf) }}
                {% else %}
                    {{ definima.render_media(media, true, form.vars.id, conf) }}
                {% endif %}
            {% endfor %}
        </div>

    {% endspaceless %}

{% endblock %}

{% macro render_media(form, collection = true, id, conf) %}
    {% spaceless %}


        <div class="definima-media {% if not collection %}solo-file{% endif %}">
            <div class="content-image row">

            {#% if collection %}
                <div class="col-sm-1">
                    <table class="table-sort">
                        <tr class="table-sort-up">
                            <td><a href="#" class="collection-up btn btn-default btn-x-sm"><span
                                        class="fa fa-chevron-up"></span></a></td>
                        </tr>
                        <tr class="table-sort-down">
                            <td><a href="#" class="collection-down btn btn-default btn-x-sm"><span
                                        class="fa fa-chevron-down"></span></a></td>
                        </tr>
                    </table>
                </div>
            {% endif %#}
            <div class="img-preview col-sm-4" id="preview{{ form.path.vars.id }}">

                {{ fileIcon(conf,form.path.vars.data,form.vars.name).html|raw }}
            </div>

            <div class="img-description col-sm-8">
                <div class="row">
                    <div class="col-sm-6" style="display: flex;align-items: center;">
                        <div>
                            {% if form.vars.allow_alt %}
                                {{ form_label(form.alt, null, {label_attr: {class: 'control-label'}}) }}
                                {{ form_widget(form.alt, {attr: {class: 'definima-media-alt'}}) }}

                            {% endif %}
                            {{ form_widget(form.path, {attr: {class: 'definima-media-path', 'data-conf': conf, 'data-nom': form.vars.name}}) }}
                        </div>
                    </div>
                    <div class="{% if not form.vars.allow_alt %}col-sm-12{% else %}{% if collection %}col-sm-4{% else %}col-sm-6{% endif %}{% endif %}">

                        <div class="upload upload-no-alt">
                            <div class="btn-group definima-browse-group" role="group">
                                {% if collection %}
                                    {% include '@Media/form/_btn_manager.html.twig' with {'id' : id, 'form' : form, 'conf': conf} only %}
                                {% else %}
                                    {% include '@Media/form/_btn_manager.html.twig' with {'id' : id, 'form' : form, 'conf': conf, 'collection': false} only %}
                                {% endif %}
                            </div>
                        </div>
                        {% if not collection %}
                        <div class="taille-minimum">
                            <div>Taille minimum : {{ form.vars.minimum_width }}x{{ form.vars.minimum_height }}</div>
                            <span>Poids maximum 2Mo</span>
                        </div>
                        {% endif %}
                    </div>

                    {% if collection %}
                        <div class="col-sm-2 admin-doc">
{#                            <table class="table-sort doc">#}
{#                                <tr class="table-sort-up">#}
{#                                    <td>#}
{#                                        <a href="#" class="collection-up btn btn-default btn-x-sm">#}
{#                                            <span class="fa fa-chevron-up"></span>#}
{#                                        </a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr class="table-sort-down">#}
{#                                    <td>#}
{#                                        <a href="#" class="collection-down btn btn-default btn-x-sm">#}
{#                                            <span class="fa fa-chevron-down"></span>#}
{#                                        </a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
                            <a href="#" class="collection-up btn btn-default btn-x-sm ">
                                <span class="fa fa-chevron-up"></span>
                            </a>
                            <a href="#" class="collection-down btn btn-default btn-x-sm ">
                                <span class="fa fa-chevron-down"></span>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-12 text-center">
                <progress></progress>
            </div>

            </div>
            {% if collection %}
            <div class="delete-item">
                <a href="#" class=" js-remove-collection btn collection-remove collection-action">
                    <span class="fa fa-times"></span>
                </a>
            </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}


{% macro render_media_front(form, collection = true, id, conf) %}
    {% spaceless %}

        <div class="definima-media {% if not collection %}solo-file{% endif %}">
            <div class="content-image">

                {#% if collection %}
                    <div class="col-sm-1">
                        <table class="table-sort">
                            <tr class="table-sort-up">
                                <td><a href="#" class="collection-up btn btn-default btn-x-sm"><span
                                            class="fa fa-chevron-up"></span></a></td>
                            </tr>
                            <tr class="table-sort-down">
                                <td><a href="#" class="collection-down btn btn-default btn-x-sm"><span
                                            class="fa fa-chevron-down"></span></a></td>
                            </tr>
                        </table>
                    </div>
                {% endif %#}
                <div class="img-preview col-sm-4" id="preview{{ form.path.vars.id }}">

                    {{ fileIcon(conf,form.path.vars.data,form.vars.name).html|raw }}
                </div>

                <div class="img-description col-sm-8">
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;align-items: center;">
                            <div>
                                {% if form.vars.allow_alt %}
                                    {{ form_label(form.alt, null, {label_attr: {class: 'control-label'}}) }}
                                    {{ form_widget(form.alt, {attr: {class: 'definima-media-alt'}}) }}

                                {% endif %}
                                {{ form_widget(form.path, {attr: {class: 'definima-media-path', 'data-conf': conf, 'data-nom': form.vars.name}}) }}
                            </div>
                        </div>
                        <div class="{% if not form.vars.allow_alt %}col-sm-12{% else %}{% if collection %}col-sm-4{% else %}col-sm-6{% endif %}{% endif %}">

                            <div class="upload upload-no-alt">
                                <div class="btn-group definima-browse-group" role="group">
                                    {% if collection %}
                                        {% include '@Media/form/_btn_manager.html.twig' with {'id' : id, 'form' : form, 'conf': conf} only %}
                                    {% else %}
                                        {% include '@Media/form/_btn_manager.html.twig' with {'id' : id, 'form' : form, 'conf': conf, 'collection': false} only %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if not collection %}
                                <div class="taille-minimum">
                                    <div>Taille minimum : {{ form.vars.minimum_width }}x{{ form.vars.minimum_height }}</div>
                                    <span>Poids maximum 2Mo</span>
                                </div>
                            {% endif %}
                        </div>

                        {% if collection %}
                            <div class="col-sm-2 admin-doc">
                                {#                            <table class="table-sort doc">#}
                                {#                                <tr class="table-sort-up">#}
                                {#                                    <td>#}
                                {#                                        <a href="#" class="collection-up btn btn-default btn-x-sm">#}
                                {#                                            <span class="fa fa-chevron-up"></span>#}
                                {#                                        </a>#}
                                {#                                    </td>#}
                                {#                                </tr>#}
                                {#                                <tr class="table-sort-down">#}
                                {#                                    <td>#}
                                {#                                        <a href="#" class="collection-down btn btn-default btn-x-sm">#}
                                {#                                            <span class="fa fa-chevron-down"></span>#}
                                {#                                        </a>#}
                                {#                                    </td>#}
                                {#                                </tr>#}
                                {#                            </table>#}
                                <a href="#" class="collection-up btn btn-default btn-x-sm ">
                                    <span class="fa fa-chevron-up"></span>
                                </a>
                                <a href="#" class="collection-down btn btn-default btn-x-sm ">
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <progress></progress>
                </div>

            </div>
            {% if collection %}
                <div class="delete-item">
                    <a href="#" class=" js-remove-collection btn collection-remove collection-action">
                        <span class="fa fa-times"></span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}

